{% extends "index.html" %}
{% block title %}My Orders{% endblock title %}

{% block content %}

<div class='min-h-[77vh] pt-2 md:pt-12'>
    <div class='block md:flex justify-between h-fit md:h-[32vh] w-[95%] md:w-[78%] mx-auto'>
        {% comment %} left box {% endcomment %}
        {% include "include/dashboard_sidebar.html" %}
        
        
        {% comment %} right box {% endcomment %}
        <div class='h-fit w-full md:w-[75%] mt-2 md:mt-0 py-2 px-0 md:px-4 text-stone-500 lg:border border-stone-200 bg-white rounded'>
            <div class="pb-2">
                <p class="font-bold">Your order history</p>
            </div>
            <div class="mt-4 mb-8">
                <table class="w-full text-sm md:text-auto">
                    <tr class="text-[13px] md:text-base border-y border-stone-200">
                        <th class="py-1" style="text-align: left ">Order</th>
                        <th style="text-align: left ">Billing Name</th>
                        <th style="text-align: left ">Phone</th>
                        <th style="text-align: left ">Order Total</th>
                        <th style="text-align: left ">Date</th>
                    </tr>
                    {% for order in orders %}
                        <tr class="text-[12px] md:text-base">
                            <td class="text-[#038d63] font-bold py-1"><a href="{% url 'order_detail' order.order_number %}">{{order.order_number}}</a></td>
                            <td>{{order.full_name}}</td>
                            <td>{{order.phone}}</td>
                            <td>₹{{order.order_total}}</td>
                            <td>{{order.created_at}}</td>
                        </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}