{% extends "index.html" %} {% block title %}our website{% endblock %} 
{% block content %}
<div class="border-2 border-stone-500 h-64 w-[90%] mx-auto my-5">
  {% comment %}
  <img
    src="https://static.vecteezy.com/system/resources/thumbnails/002/216/694/small_2x/shopping-trendy-banner-vector.jpg"
    alt=""
  />
  {% endcomment %}
</div>

<div class="p-4 my-4 min-h-[41vh]">
  {% if not products %}
  <h3 class='text-center text-lg text-gray-700'>No products available</h3>
  {% else %}
  
  <div
    class="flex justify-between px-1 md:px-[6%] mb-4 text-lg md:text-3xl text-stone-700"
  >
    <h2 class="font-bold">Popular products</h2>
    <button
      class="border border-1 md:border-2 border-[#038d63] px-3 text-[#038d63] text-sm md:text-lg rounded"
    >
      <a href="{% url 'store' %}">See all</a>
    </button>
  </div>

    <div
      class="flex md:grid justify-center flex-wrap md:grid-cols-2 lg:grid-cols-4 gap-y-6 md:gap-12 w-[80%] md:w-fit mx-auto"
    >
    {% for product in products %}
      <div class="w-full bg-white">
        <a href="{{ product.get_url }}">
          <div class="w-full md:w-72 h-fit border border-stone-200 rounded-lg p-1 md:p-3">
            <div class='h-65 lg:h-72 flex justify-center'>
              
              <img src="{{ product.images.url }}" alt="Product Image" class='h-[45vh] md:h-full object-contain'>
            </div>
            <div class="flex flex-col items-center mb-2 mt-2">
              <span class="text-lg md:text-2xl font-semibold"
                >{{product.product_name}}</span
              >
              <span class="font-medium text-base md:text-lg">₹ {{product.price}}</span>
              <span>
                {% comment %} Ratings {% endcomment %}
                  <i class="fa fa-star{% if product.averageReview > 0 %} text-yellow-500 {% else %} text-gray-400 {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.averageReview > 1 %} text-yellow-500 {% else %} text-gray-400 {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.averageReview > 2 %} text-yellow-500 {% else %} text-gray-400 {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.averageReview > 3 %} text-yellow-500 {% else %} text-gray-400 {% endif %}" aria-hidden="true"></i>
                  <i class="fa fa-star{% if product.averageReview > 4 %} text-yellow-500 {% else %} text-gray-400 {% endif %}" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </a>
      </div>
    {% endfor %} 
    </div>
  {% endif %}
  </div>
</div>


{% endblock %}